{% extends "base.html" %}
{% block content %}
<h1>Sensors table</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Status</td>
        <td>Description</td>

    </tr>
    {% for sensor in object_list %}
    <tr>
        <td>{{ sensor.name }}</td>
        <td>{{ sensor.status }}</td>
        <td>{{ sensor.description }}</td>
        <td><a href="{% url 'data' sensor.id %}">History</a></td>
        {% if user.is_authenticated and user.is_qualified_user %}
       <td><a href="{% url 'edit_sensor' sensor.pk %}">Edit sensor</a></td>
        {% endif %}
        {% if user.is_authenticated and user.is_qualified_user %}
       <td><a href="{% url 'delete_sensor' sensor.pk %}">Delete sensor</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<a href="{% url 'locations' %}">Back to locations</a>
{% endblock %}